<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<!--<add name="VisualWorldsDbContext" connectionString="metadata=res://*/Data.VisualWorldsDbContext.csdl|res://*/Data.VisualWorldsDbContext.ssdl|res://*/Data.VisualWorldsDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=VisualWorlds;persist security info=True;user id=Usuari;password=U5u4r1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="VisualWorldsDbContext" connectionString="metadata=res://*/Data.VisualWorldsDbContext.csdl|res://*/Data.VisualWorldsDbContext.ssdl|res://*/Data.VisualWorldsDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=VisualWorlds.mssql.somee.com;packet size=4096;user id=StevenQo_SQLLogin_1;pwd=yzfxp1wam8;data source=VisualWorlds.mssql.somee.com;persist security info=False;initial catalog=VisualWorlds&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>